<div>
    <h2 id="page-heading">
        <span>Ref Pra Sectors</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-ref-pra-sector" [routerLink]="['/ref-pra-sector/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Ref Pra Sector
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="refPraSectors">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Pra Sector Id</span></th>
            <th><span>Pra Sector Name</span></th>
            <th><span>Is Active</span></th>
            <th><span>Created By</span></th>
            <th><span>Created On</span></th>
            <th><span>Updated By</span></th>
            <th><span>Updated On</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let refPraSector of refPraSectors ;trackBy: trackId">
                <td><a [routerLink]="['/ref-pra-sector', refPraSector.id, 'view' ]">{{refPraSector.id}}</a></td>
                <td>{{refPraSector.praSectorId}}</td>
                <td>{{refPraSector.praSectorName}}</td>
                <td>{{refPraSector.isActive}}</td>
                <td>{{refPraSector.createdBy}}</td>
                <td>{{refPraSector.createdOn | date:'medium'}}</td>
                <td>{{refPraSector.updatedBy}}</td>
                <td>{{refPraSector.updatedOn | date:'medium'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/ref-pra-sector', refPraSector.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/ref-pra-sector', refPraSector.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'ref-pra-sector/'+ refPraSector.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
