<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="refRatingMoodys">
            <h2><span>Ref Rating Moodys</span> {{refRatingMoodys.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Rating Moodys Id</span></dt>
                <dd>
                    <span>{{refRatingMoodys.ratingMoodysId}}</span>
                </dd>
                <dt><span>Rating Moodys Name</span></dt>
                <dd>
                    <span>{{refRatingMoodys.ratingMoodysName}}</span>
                </dd>
                <dt><span>Is Active</span></dt>
                <dd>
                    <span>{{refRatingMoodys.isActive}}</span>
                </dd>
                <dt><span>Created By</span></dt>
                <dd>
                    <span>{{refRatingMoodys.createdBy}}</span>
                </dd>
                <dt><span>Created On</span></dt>
                <dd>
                    <span>{{refRatingMoodys.createdOn}}</span>
                </dd>
                <dt><span>Updated By</span></dt>
                <dd>
                    <span>{{refRatingMoodys.updatedBy}}</span>
                </dd>
                <dt><span>Updated On</span></dt>
                <dd>
                    <span>{{refRatingMoodys.updatedOn}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/ref-rating-moodys', refRatingMoodys.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
