<div>
    <h2 id="page-heading">
        <span>Ref Covenants</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-ref-covenant" [routerLink]="['/ref-covenant/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Ref Covenant
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="refCovenants">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Covenant Id</span></th>
            <th><span>Covenant Name</span></th>
            <th><span>Is Active</span></th>
            <th><span>Created By</span></th>
            <th><span>Created On</span></th>
            <th><span>Updated By</span></th>
            <th><span>Updated On</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let refCovenant of refCovenants ;trackBy: trackId">
                <td><a [routerLink]="['/ref-covenant', refCovenant.id, 'view' ]">{{refCovenant.id}}</a></td>
                <td>{{refCovenant.covenantId}}</td>
                <td>{{refCovenant.covenantName}}</td>
                <td>{{refCovenant.isActive}}</td>
                <td>{{refCovenant.createdBy}}</td>
                <td>{{refCovenant.createdOn | date:'medium'}}</td>
                <td>{{refCovenant.updatedBy}}</td>
                <td>{{refCovenant.updatedOn | date:'medium'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/ref-covenant', refCovenant.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/ref-covenant', refCovenant.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'ref-covenant/'+ refCovenant.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
