<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="refLineOfBusiness">
            <h2><span>Ref Line Of Business</span> {{refLineOfBusiness.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Line Of Business Id</span></dt>
                <dd>
                    <span>{{refLineOfBusiness.lineOfBusinessId}}</span>
                </dd>
                <dt><span>Line Of Business Name</span></dt>
                <dd>
                    <span>{{refLineOfBusiness.lineOfBusinessName}}</span>
                </dd>
                <dt><span>Is Active</span></dt>
                <dd>
                    <span>{{refLineOfBusiness.isActive}}</span>
                </dd>
                <dt><span>Created By</span></dt>
                <dd>
                    <span>{{refLineOfBusiness.createdBy}}</span>
                </dd>
                <dt><span>Created On</span></dt>
                <dd>
                    <span>{{refLineOfBusiness.createdOn}}</span>
                </dd>
                <dt><span>Updated By</span></dt>
                <dd>
                    <span>{{refLineOfBusiness.updatedBy}}</span>
                </dd>
                <dt><span>Updated On</span></dt>
                <dd>
                    <span>{{refLineOfBusiness.updatedOn}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/ref-line-of-business', refLineOfBusiness.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
