<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="refSyndicationTeam">
            <h2><span>Ref Syndication Team</span> {{refSyndicationTeam.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Ref Syndication Team Id</span></dt>
                <dd>
                    <span>{{refSyndicationTeam.refSyndicationTeamId}}</span>
                </dd>
                <dt><span>Ref Syndication Team Name</span></dt>
                <dd>
                    <span>{{refSyndicationTeam.refSyndicationTeamName}}</span>
                </dd>
                <dt><span>Is Active</span></dt>
                <dd>
                    <span>{{refSyndicationTeam.isActive}}</span>
                </dd>
                <dt><span>Created By</span></dt>
                <dd>
                    <span>{{refSyndicationTeam.createdBy}}</span>
                </dd>
                <dt><span>Created On</span></dt>
                <dd>
                    <span>{{refSyndicationTeam.createdOn}}</span>
                </dd>
                <dt><span>Updated By</span></dt>
                <dd>
                    <span>{{refSyndicationTeam.updatedBy}}</span>
                </dd>
                <dt><span>Updated On</span></dt>
                <dd>
                    <span>{{refSyndicationTeam.updatedOn}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/ref-syndication-team', refSyndicationTeam.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
