<div>
    <h2 id="page-heading">
        <span>Ref Recourse To Clients</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-ref-recourse-to-client" [routerLink]="['/ref-recourse-to-client/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Ref Recourse To Client
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="refRecourseToClients">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Recourse To Client Id</span></th>
            <th><span>Recourse To Client Name</span></th>
            <th><span>Is Active</span></th>
            <th><span>Created By</span></th>
            <th><span>Created On</span></th>
            <th><span>Updated By</span></th>
            <th><span>Updated On</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let refRecourseToClient of refRecourseToClients ;trackBy: trackId">
                <td><a [routerLink]="['/ref-recourse-to-client', refRecourseToClient.id, 'view' ]">{{refRecourseToClient.id}}</a></td>
                <td>{{refRecourseToClient.recourseToClientId}}</td>
                <td>{{refRecourseToClient.recourseToClientName}}</td>
                <td>{{refRecourseToClient.isActive}}</td>
                <td>{{refRecourseToClient.createdBy}}</td>
                <td>{{refRecourseToClient.createdOn | date:'medium'}}</td>
                <td>{{refRecourseToClient.updatedBy}}</td>
                <td>{{refRecourseToClient.updatedOn | date:'medium'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/ref-recourse-to-client', refRecourseToClient.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/ref-recourse-to-client', refRecourseToClient.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'ref-recourse-to-client/'+ refRecourseToClient.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
