<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="refRecourseToClient">
            <h2><span>Ref Recourse To Client</span> {{refRecourseToClient.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Recourse To Client Id</span></dt>
                <dd>
                    <span>{{refRecourseToClient.recourseToClientId}}</span>
                </dd>
                <dt><span>Recourse To Client Name</span></dt>
                <dd>
                    <span>{{refRecourseToClient.recourseToClientName}}</span>
                </dd>
                <dt><span>Is Active</span></dt>
                <dd>
                    <span>{{refRecourseToClient.isActive}}</span>
                </dd>
                <dt><span>Created By</span></dt>
                <dd>
                    <span>{{refRecourseToClient.createdBy}}</span>
                </dd>
                <dt><span>Created On</span></dt>
                <dd>
                    <span>{{refRecourseToClient.createdOn}}</span>
                </dd>
                <dt><span>Updated By</span></dt>
                <dd>
                    <span>{{refRecourseToClient.updatedBy}}</span>
                </dd>
                <dt><span>Updated On</span></dt>
                <dd>
                    <span>{{refRecourseToClient.updatedOn}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/ref-recourse-to-client', refRecourseToClient.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
