<div>
    <h2 id="page-heading">
        <span>Ref Rating S And PS</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-ref-rating-s-and-p" [routerLink]="['/ref-rating-s-and-p/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Ref Rating S And P
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="refRatingSAndPS">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Rating S And P Id</span></th>
            <th><span>Rating S And P Name</span></th>
            <th><span>Is Active</span></th>
            <th><span>Created By</span></th>
            <th><span>Created On</span></th>
            <th><span>Updated By</span></th>
            <th><span>Updated On</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let refRatingSAndP of refRatingSAndPS ;trackBy: trackId">
                <td><a [routerLink]="['/ref-rating-s-and-p', refRatingSAndP.id, 'view' ]">{{refRatingSAndP.id}}</a></td>
                <td>{{refRatingSAndP.ratingSAndPId}}</td>
                <td>{{refRatingSAndP.ratingSAndPName}}</td>
                <td>{{refRatingSAndP.isActive}}</td>
                <td>{{refRatingSAndP.createdBy}}</td>
                <td>{{refRatingSAndP.createdOn | date:'medium'}}</td>
                <td>{{refRatingSAndP.updatedBy}}</td>
                <td>{{refRatingSAndP.updatedOn | date:'medium'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/ref-rating-s-and-p', refRatingSAndP.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/ref-rating-s-and-p', refRatingSAndP.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'ref-rating-s-and-p/'+ refRatingSAndP.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
