<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="refRatingSAndP">
            <h2><span>Ref Rating S And P</span> {{refRatingSAndP.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Rating S And P Id</span></dt>
                <dd>
                    <span>{{refRatingSAndP.ratingSAndPId}}</span>
                </dd>
                <dt><span>Rating S And P Name</span></dt>
                <dd>
                    <span>{{refRatingSAndP.ratingSAndPName}}</span>
                </dd>
                <dt><span>Is Active</span></dt>
                <dd>
                    <span>{{refRatingSAndP.isActive}}</span>
                </dd>
                <dt><span>Created By</span></dt>
                <dd>
                    <span>{{refRatingSAndP.createdBy}}</span>
                </dd>
                <dt><span>Created On</span></dt>
                <dd>
                    <span>{{refRatingSAndP.createdOn}}</span>
                </dd>
                <dt><span>Updated By</span></dt>
                <dd>
                    <span>{{refRatingSAndP.updatedBy}}</span>
                </dd>
                <dt><span>Updated On</span></dt>
                <dd>
                    <span>{{refRatingSAndP.updatedOn}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/ref-rating-s-and-p', refRatingSAndP.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
