<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="refFacilityType">
            <h2><span>Ref Facility Type</span> {{refFacilityType.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Facility Type Id</span></dt>
                <dd>
                    <span>{{refFacilityType.facilityTypeId}}</span>
                </dd>
                <dt><span>Facility Type Name</span></dt>
                <dd>
                    <span>{{refFacilityType.facilityTypeName}}</span>
                </dd>
                <dt><span>Is Active</span></dt>
                <dd>
                    <span>{{refFacilityType.isActive}}</span>
                </dd>
                <dt><span>Created By</span></dt>
                <dd>
                    <span>{{refFacilityType.createdBy}}</span>
                </dd>
                <dt><span>Created On</span></dt>
                <dd>
                    <span>{{refFacilityType.createdOn}}</span>
                </dd>
                <dt><span>Updated By</span></dt>
                <dd>
                    <span>{{refFacilityType.updatedBy}}</span>
                </dd>
                <dt><span>Updated On</span></dt>
                <dd>
                    <span>{{refFacilityType.updatedOn}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/ref-facility-type', refFacilityType.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
