<div>
    <h2 id="page-heading">
        <span>Ref Rating Crrs</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-ref-rating-crr" [routerLink]="['/ref-rating-crr/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Ref Rating Crr
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="refRatingCrrs">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Rating Crr Id</span></th>
            <th><span>Rating Crr Name</span></th>
            <th><span>Is Active</span></th>
            <th><span>Created By</span></th>
            <th><span>Created On</span></th>
            <th><span>Updated By</span></th>
            <th><span>Updated On</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let refRatingCrr of refRatingCrrs ;trackBy: trackId">
                <td><a [routerLink]="['/ref-rating-crr', refRatingCrr.id, 'view' ]">{{refRatingCrr.id}}</a></td>
                <td>{{refRatingCrr.ratingCrrId}}</td>
                <td>{{refRatingCrr.ratingCrrName}}</td>
                <td>{{refRatingCrr.isActive}}</td>
                <td>{{refRatingCrr.createdBy}}</td>
                <td>{{refRatingCrr.createdOn | date:'medium'}}</td>
                <td>{{refRatingCrr.updatedBy}}</td>
                <td>{{refRatingCrr.updatedOn | date:'medium'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/ref-rating-crr', refRatingCrr.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/ref-rating-crr', refRatingCrr.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'ref-rating-crr/'+ refRatingCrr.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
